In [0]:
import os

In [0]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
root_dir = "/content/gdrive/My Drive/"

Mounted at /content/gdrive

In [0]:
data_root_dir = "/content/gdrive/My Drive/data/"

In [0]:
reagent_data_dir = data_root_dir + 'reagent-data/'

In [0]:
os.listdir(reagent_data_dir)

['reagent_data_30092019-part3.csv',
 'reagent_data_09-10-2019.csv',
 'lab-test-data.gsheet',
 'lab-test-data.csv']

In [0]:
file_name = reagent_data_dir + 'reagent_data_30092019-part3.csv'

In [0]:
import numpy as np # linear algebra
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

# Model Building

In [0]:
from fastai import *
from fastai.tabular import *

In [0]:
df_reagent = pd.read_csv(file_name, parse_dates= True)
df_reagent['date'] = pd.to_datetime(df_reagent['date'], errors='coerce')
df_reagent.sort_values(by = "date", inplace=True)
df_reagent.drop("Unnamed: 0", axis =1, inplace = True)
add_datepart(df_reagent, "date")


from sklearn.model_selection import train_test_split

In [0]:
df_reagent.tail(10)

             reagent_name  pack_size  ...  Is_year_start     Elapsed
2893          Reagent-BNP        200  ...          False  1544054400
1923  Reagent-Anti-HAViGG        400  ...          False  1544140800
2923          Reagent-BNP        200  ...          False  1544140800
923           Reagent-AFP        300  ...          False  1544140800
2954          Reagent-BNP        200  ...          False  1544227200
1954  Reagent-Anti-HAViGG        400  ...          False  1544227200
954           Reagent-AFP        300  ...          False  1544227200
2985          Reagent-BNP        200  ...          False  1544313600
1985  Reagent-Anti-HAViGG        400  ...          False  1544313600
985           Reagent-AFP        300  ...          False  1544313600

[10 rows x 29 columns]

In [0]:
df_reagent.columns

Index(['reagent_name', 'pack_size', 'num_pack_units', 'reagent_wip_volume',
       'qc_control_runs', 'qc_failure', 'qc_failure_repeat', 'qc_total_runs',
       'test_runs', 'repeated_test_runs', 'reagent_wastage',
       'calibration_runs_scheduled', 'calibration_runs_on_failure',
       'total_calibration_runs', 'total_reagent_volume', 'protocol_in_ml',
       'Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
       'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start',
       'Is_year_end', 'Is_year_start', 'Elapsed'],
      dtype='object')

In [0]:
drop_columns = ['pack_size', 'num_pack_units', 'reagent_wip_volume' , 'qc_control_runs', 'qc_failure', 'qc_failure_repeat', 'qc_total_runs', 'test_runs' ]
drop_columns.append('repeated_test_runs')
drop_columns.append('reagent_wastage')
drop_columns.append('calibration_runs_scheduled')
drop_columns.append('calibration_runs_on_failure')
drop_columns.append('total_calibration_runs')
drop_columns.append('protocol_in_ml')
df_reagent.drop( drop_columns, axis =1, inplace = True);  df_reagent.head()
#df.drop(df.columns[[0, 4, 2]], axis = 1, inplace = True)

             reagent_name  total_reagent_volume  ...  Is_year_start     Elapsed
0             Reagent-AFP                 24.00  ...           True  1451606400
2000          Reagent-BNP                 43.00  ...           True  1451606400
1000  Reagent-Anti-HAViGG                130.00  ...           True  1451606400
2031          Reagent-BNP                 36.20  ...          False  1451692800
31            Reagent-AFP                 30.75  ...          False  1451692800

[5 rows x 15 columns]

In [0]:
df_reagent.head()

             reagent_name  total_reagent_volume  ...  Is_year_start     Elapsed
0             Reagent-AFP                 24.00  ...           True  1451606400
2000          Reagent-BNP                 43.00  ...           True  1451606400
1000  Reagent-Anti-HAViGG                130.00  ...           True  1451606400
2031          Reagent-BNP                 36.20  ...          False  1451692800
31            Reagent-AFP                 30.75  ...          False  1451692800

[5 rows x 15 columns]

In [0]:
dep_var = 'total_reagent_volume'
cat_names = ['reagent_name']
cont_names = ['Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear', 'Elapsed', 'Is_month_end', 'Is_month_start','Is_quarter_end' ] # extend this
procs = [FillMissing, Categorify, Normalize]

In [0]:
test = TabularList.from_df(df_reagent.iloc[2701:3000].copy(), path=reagent_data_dir, cat_names=cat_names, cont_names=cont_names)

In [0]:
data = (TabularList.from_df(df_reagent, path=reagent_data_dir, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(2701,3000)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

In [0]:
data.show_batch(rows=10)

In [0]:
from fastai.layers import MSELossFlat
from fastai.metrics import mean_squared_error

learn = tabular_learner(data, layers=[200,100], loss_func=MSELossFlat(), metrics=mean_squared_error)
learn.fit(100, 1e-2)

In [0]:
learn.fit(100, 1e-2)

In [0]:
row = df_reagent.iloc[2999]; print("Actual:", row.total_reagent_volume, "Predicted:", learn.predict(row)[2])

Actual: 18.5 Predicted: tensor([19.3247])

In [0]:
#Display Predictions On Training Data
learn.show_results(ds_type=DatasetType.Train,rows = 5)
#Display Predictions On Validation Data

In [0]:
learn.show_results(ds_type=DatasetType.Valid, rows = 20)

In [0]:
data.train_ds

LabelList (2701 items)
x: TabularList
reagent_name Reagent-AFP; Year -1.0567; Month -1.4652; Week 1.9387; Day -1.6574; Dayofweek 0.5007; Dayofyear -1.5951; Elapsed -1.7183; Is_month_end -0.1856; Is_month_start 5.2946; Is_quarter_end -0.1060; ,reagent_name Reagent-BNP; Year -1.0567; Month -1.4652; Week 1.9387; Day -1.6574; Dayofweek 0.5007; Dayofyear -1.5951; Elapsed -1.7183; Is_month_end -0.1856; Is_month_start 5.2946; Is_quarter_end -0.1060; ,reagent_name Reagent-Anti-HAViGG; Year -1.0567; Month -1.4652; Week 1.9387; Day -1.6574; Dayofweek 0.5007; Dayofyear -1.5951; Elapsed -1.7183; Is_month_end -0.1856; Is_month_start 5.2946; Is_quarter_end -0.1060; ,reagent_name Reagent-BNP; Year -1.0567; Month -1.4652; Week 1.9387; Day -1.5449; Dayofweek 1.0013; Dayofyear -1.5854; Elapsed -1.7145; Is_month_end -0.1856; Is_month_start -0.1888; Is_quarter_end -0.1060; ,reagent_name Reagent-AFP; Year -1.0567; Month -1.4652; Week 1.9387; Day -1.5449; Dayofweek 1.0013; Dayofyear -1.5854; Elapsed -1.7145; Is_month_end -0.1856; Is_month_start -0.1888; Is_quarter_end -0.1060;
y: FloatList
24.0,43.0,130.0,36.2,30.75
Path: /content/gdrive/My Drive/data/reagent-data

In [0]:
data.valid_ds

LabelList (299 items)
x: TabularList
reagent_name Reagent-BNP; Year 1.6473; Month 0.3007; Week 0.1861; Day -0.9819; Dayofweek 1.0013; Dayofyear 0.2055; Elapsed 1.7752; Is_month_end -0.1856; Is_month_start -0.1888; Is_quarter_end -0.1060; ,reagent_name Reagent-AFP; Year 1.6473; Month 0.3007; Week 0.1861; Day -0.9819; Dayofweek 1.0013; Dayofyear 0.2055; Elapsed 1.7752; Is_month_end -0.1856; Is_month_start -0.1888; Is_quarter_end -0.1060; ,reagent_name Reagent-BNP; Year 1.6473; Month 0.3007; Week 0.1861; Day -0.8693; Dayofweek 1.5018; Dayofyear 0.2151; Elapsed 1.7790; Is_month_end -0.1856; Is_month_start -0.1888; Is_quarter_end -0.1060; ,reagent_name Reagent-AFP; Year 1.6473; Month 0.3007; Week 0.1861; Day -0.8693; Dayofweek 1.5018; Dayofyear 0.2151; Elapsed 1.7790; Is_month_end -0.1856; Is_month_start -0.1888; Is_quarter_end -0.1060; ,reagent_name Reagent-Anti-HAViGG; Year 1.6473; Month 0.3007; Week 0.1861; Day -0.8693; Dayofweek 1.5018; Dayofyear 0.2151; Elapsed 1.7790; Is_month_end -0.1856; Is_month_start -0.1888; Is_quarter_end -0.1060;
y: FloatList
30.6,14.5,26.2,28.15,135.4
Path: /content/gdrive/My Drive/data/reagent-data

In [0]:
data.test_ds

LabelList (299 items)
x: TabularList
reagent_name Reagent-BNP; Year 1.6473; Month 0.3007; Week 0.1861; Day -0.9819; Dayofweek 1.0013; Dayofyear 0.2055; Elapsed 1.7752; Is_month_end -0.1856; Is_month_start -0.1888; Is_quarter_end -0.1060; ,reagent_name Reagent-AFP; Year 1.6473; Month 0.3007; Week 0.1861; Day -0.9819; Dayofweek 1.0013; Dayofyear 0.2055; Elapsed 1.7752; Is_month_end -0.1856; Is_month_start -0.1888; Is_quarter_end -0.1060; ,reagent_name Reagent-BNP; Year 1.6473; Month 0.3007; Week 0.1861; Day -0.8693; Dayofweek 1.5018; Dayofyear 0.2151; Elapsed 1.7790; Is_month_end -0.1856; Is_month_start -0.1888; Is_quarter_end -0.1060; ,reagent_name Reagent-AFP; Year 1.6473; Month 0.3007; Week 0.1861; Day -0.8693; Dayofweek 1.5018; Dayofyear 0.2151; Elapsed 1.7790; Is_month_end -0.1856; Is_month_start -0.1888; Is_quarter_end -0.1060; ,reagent_name Reagent-Anti-HAViGG; Year 1.6473; Month 0.3007; Week 0.1861; Day -0.8693; Dayofweek 1.5018; Dayofyear 0.2151; Elapsed 1.7790; Is_month_end -0.1856; Is_month_start -0.1888; Is_quarter_end -0.1060;
y: EmptyLabelList
,,,,
Path: /content/gdrive/My Drive/data/reagent-data

In [0]:
df_reagent.head()

             reagent_name  total_reagent_volume  ...  Is_year_start     Elapsed
0             Reagent-AFP                 24.00  ...           True  1451606400
2000          Reagent-BNP                 43.00  ...           True  1451606400
1000  Reagent-Anti-HAViGG                130.00  ...           True  1451606400
2031          Reagent-BNP                 36.20  ...          False  1451692800
31            Reagent-AFP                 30.75  ...          False  1451692800

[5 rows x 15 columns]

In [0]:
train_last_index = 2701
df_reagent[train_last_index : train_last_index + 5]
df_valid = df_reagent[train_last_index:]

In [0]:
learn.show_results(ds_type=DatasetType.Valid, rows = 5)

In [0]:
print(df_valid[0:10].reagent_name , df_valid[0:10].total_reagent_volume)

2918            Reagent-BNP
918             Reagent-AFP
2949            Reagent-BNP
949             Reagent-AFP
1949    Reagent-Anti-HAViGG
2980            Reagent-BNP
980             Reagent-AFP
1980    Reagent-Anti-HAViGG
924             Reagent-AFP
1924    Reagent-Anti-HAViGG
Name: reagent_name, dtype: object 2918     30.60
918      14.50
2949     26.20
949      28.15
1949    135.40
2980     34.00
980      24.70
1980     92.60
924      26.50
1924    119.20
Name: total_reagent_volume, dtype: float64